body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #fa709a, #9240fe, #63bce0);
    background-size: 400% 400%;
    animation: GradientAnimation 10s ease infinite;
  }
  
  @keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }

  table {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 30px;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
  }
  
  td, th {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    width: 500px;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #718096 #EDF2F7;
  }
  
  textarea::-webkit-scrollbar {
    width: 12px;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 20px;
    border: 2px solid #EDF2F7;
  }
  
  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #4A5568;
  }
  
  textarea::-webkit-scrollbar-track {
    background-color: #EDF2F7;
    border-radius: 20px;
  }

  .input-row {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
  }
  
  .input-container {
    margin-right: 20px;
    transform: translateX(+10px); /* Сдвиг влево на 10px */
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  button {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
    transition: 0.3s ease;
  }

  button:active {
    background-color: #096630;
    transition: 0.01s ease;
  }

  .copy-toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2ecc71;
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 18px;
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  .savedZ {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2ecc71;
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 18px;
    visibility: hidden;
    z-index: 1000;
  }

  .savedC {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2ecc71;
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 18px;
    visibility: hidden;
    z-index: 1000;
  }
